body {
    background-color: rgb(207, 207, 190);
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 2em;
}

.top {
    display: flex;
}

#new {
    width: 12%;
    height: 3em;
    align-self: center;
    position: fixed;
    right: 1em;
    background-color: rgb(57, 182, 57);
    color: white;
    font-weight: bold;
    border: white 2px solid;
}

.container {
    width: 70vw;
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.book {
    background-color: white;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 0.5em;
    box-shadow: 0.2em 0.2em 0.2em black;
    border-radius: 1em;
    border: 0.1em solid rgb(173, 165, 52);
}

.title, .author, .pages, .read {
    word-wrap: break-word;
    word-break: break-all;
}

.title {
    font-weight: bold;
}

.delete, .status {
    width: 10em;
    height: 3em;
    font-weight: bold;
}

.delete {
    background-color: rgb(212, 43, 43);
    color: white;
    position: relative;
    right: 6em;
    top: 0.5em;
}

.status {
    position: relative;
    top: -2.5em;
    left: 6em;
}

form {
    display: grid;
    gap: 0.5em;
    padding-left: 2%;
}

dialog {
    width: 30vw;
    background-color: rgb(198, 202, 146);
}

dialog > button {
    position: relative;
    left: 93%;
    font-weight: bold;
}

form label {
    font-weight: bold;
    position: relative;
    top: 0.5em;
}

form input {
    width: 95%;
}

#pages + label {
    justify-self: center;
}

#read {
    justify-self: center;
    margin-top: 0.6em;
}

form button {
    width: 30%;
    height: 2.5em;
    font-weight: bold;
    color: white;
    background-color: rgb(57, 182, 57);
    justify-self: center;
    margin-top: 1em;
}